.socialNetwork{
    position : absolute;
    display : flex;
    justify-content : flex-end;
    align-items : center;
    gap : 0.7rem;
    height : 10vh;
    width : 100%;
    top : 0;
    padding-right : 1rem;
}


.icon{
    width : 1.4rem;
    height : 1.4rem;
    color : var(--primary);
}